*
{
    line-height: normal;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol
{
    list-style: none;
}

a
{
    text-decoration: none;
}

input,
textarea,
button
{
    outline: none;
}

.wrapper
{
    width: 1170px;
    margin: 0 auto;
}

/* H E A D E R */

.header
{
    height: 100px;
    padding-top: 37px;
}

.header__box
{
    display: flex;

    justify-content: space-between;
}

.header__nav-list
{
    display: flex;
    flex-direction: row;

    padding-top: 10px;
}

.header__nav-item
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;

    text-transform: uppercase;
}

.header__nav-item:not(:last-child)
{
    margin-right: 30px;
}

.header__nav-item a
{
    color: #000;
}

.header__nav-item a:hover,
.header__nav-item a:active
{
    color: #10c9c3;
}

/* M A I N */

.main
{
    padding: 100px 0;

    background-color: #f6f6f6;
}

.contact
{
    display: flex;

    justify-content: space-between;
}

.contact__info-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;

    margin-bottom: 40px;
}

.contact__info-text
{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    width: 365px;
    margin-bottom: 35px;

    color: #787878;
}

.contact__info-item
{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;

    color: #787878;
}

.contact__info-item--weight
{
    font-weight: 700;

    color: #000;
}

.contact__info-item:not(:last-child)
{
    margin-bottom: 15px;
}

.contact__form
{
    display: flex;

    width: 670px;

    justify-content: space-between;
}

.form__data-box
{
    display: flex;

    width: 670px;
}
.form__input
{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;

    margin-bottom: 30px;
    padding: 20px;

    color: #787878;
    border: none;
}

.form__input--data
{
    width: 320px;
}

.form__input--margin
{
    margin-right: 30px;
}

.form__input--title
{
    width: 670px;
}

.form__input--text
{
    width: 670px;
    height: 175px;
}

.form__button
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;

    width: 180px;
    padding: 20px 0;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #00d0c8;
}

.map
{
    position: relative;

    width: 1170px;
    height: 470px;
    margin-top: 100px;

    background-color: #e0e0e0;
}

.map__pointer
{
    position: absolute;
    top: 185px;
    left: 630px;
}

/* F O O T E R */

.footer
{
    height: 285px;
    padding-top: 100px;

    background-color: #0c0c0c;
}

.footer__box
{
    display: flex;

    justify-content: space-between;
}

.footer__rights-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 25px;

    color: #fff;
}

.footer__rights-text
{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;

    width: 240px;

    color: #bcbcbc;
}

.footer__contact-links-item,
.footer__nav-links-item
{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.footer__contact-links-item a,
.footer__nav-links-item a
{
    color: #bcbcbc;
}

.footer__contact-links-item:not(:last-child),
.footer__nav-links-item:not(:last-child)
{
    margin-bottom: 5px;
}

.footer__nav-links
{
    display: flex;
    flex-direction: row;

    width: 400px;

    justify-content: space-between;
}

.footer__nav-links-list--margin
{
    margin-left: 130px;
}

/* E R R O R */

label
{
    display: block;
}
.error input,
.error textarea
{
    -webkit-box-shadow: 0 0 10px 1px rgba(255,0,0,1);
       -moz-box-shadow: 0 0 10px 1px rgba(255,0,0,1);
            box-shadow: 0 0 10px 1px rgba(255,0,0,1);
}

.error
{
    color: #f00;
}


.error-message
{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;

    position: relative;
    top: -25px;
}
